SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key
NAVER_MAP_CLIENT_ID=your_naver_map_client_id
ADMOB_DAEDDONG_BANNER_ID=your_admob_daeddong_banner_id
TOILET_API_BASE_URL=https://apis.data.go.kr/1741000/public_restroom_info
TOILET_API_MODE=info
TOILET_API_SERVICE_KEY=your_data_go_kr_service_key
TOILET_TARGET_SCHEMA=daeddong
TOILET_TARGET_TABLE=TOILET
TOILET_SYNC_FROM=20260101000000
TOILET_SYNC_TO=20261231235959
TOILET_HISTORY_BASE_DATE=20260101
TOILET_REGION_CODES=6110000_ALL,6260000_ALL
